/* FONT STYLES (SOURCED VIA THE WEB) APPENDED HERE */
/* START */

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('font.css/LuxoraGrotesk-Medium.eot');
    src: url('font.css/LuxoraGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('font.css/LuxoraGrotesk-Medium.woff2') format('woff2'),
        url('font.css/LuxoraGrotesk-Medium.woff') format('woff'),
        url('font.css/LuxoraGrotesk-Medium.svg#LuxoraGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Light.eot');
    src: url('font.css/LuxoraGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('font.css/LuxoraGrotesk-Light.woff2') format('woff2'),
        url('font.css/LuxoraGrotesk-Light.woff') format('woff'),
        url('font.css/LuxoraGrotesk-Light.svg#LuxoraGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('font.css/LuxoraGrotesk-Thin.eot');
    src: url('font.css/LuxoraGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('font.css/LuxoraGrotesk-Thin.woff2') format('woff2'),
        url('font.css/LuxoraGrotesk-Thin.woff') format('woff'),
        url('font.css/LuxoraGrotesk-Thin.svg#LuxoraGrotesk-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('font.css/LuxoraGrotesk-Regular.eot');
    src: url('font.css/LuxoraGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('font.css/LuxoraGrotesk-Regular.woff2') format('woff2'),
        url('font.css/LuxoraGrotesk-Regular.woff') format('woff'),
        url('font.css/LuxoraGrotesk-Regular.svg#LuxoraGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk Book';
    src: url('font.css/LuxoraGrotesk-Book.eot');
    src: url('font.css/LuxoraGrotesk-Book.eot?#iefix') format('embedded-opentype'),
        url('font.css/LuxoraGrotesk-Book.woff2') format('woff2'),
        url('font.css/LuxoraGrotesk-Book.woff') format('woff'),
        url('font.css/LuxoraGrotesk-Book.svg#LuxoraGrotesk-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* END  OF FONT STYLES*/



/* GENERAL ROOT VARIABLES */
/* START */

:root {
    /* Dashboard and Button */

    --color-bg: #eeeeee;
    --color-bg-light: #fafafa;
    --color-txt: #bdbdbd;
    --color-txt-dark: #999999;
    --color-btn:#b6cb9c;
    --color-dashboard:#b4cd93;
    --color-red :#8e3131;

    /* Middle Section Headers */
   
    --dark-green: #5c664e;
    --dark-red: #794b3e;
    --darker-green: #2f4538;
    --dark-yellow: #8f7544;

    /* Middle section or Main Content Body */

    --verified-bg: #dfede6;
    --pending-bg: #f7f0b6;
    --number-bg: #ebdfdd;
    --status-completion-bg: #4c4c4c;
}
/* END */



/* GENERAL STYLES START HERE */
/* FOR PROPER SITE RESPONSIVENESS START*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;    /* 10px == 1rem */
    box-sizing: border-box;
}

body {
    font-family: 'Luxora Grotesk';
}

.container {
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;

    border: 2px solid greenyellow;

    display: flex;
}

/* FOR PROPER SITE RESPONSIVENESS  END*/



/* STYLING THE SIDEBAR ON THE LEFT SIDE */
/* START */

.sidebar-left {
    background-color: var(--color-bg-light);
    margin: 0 auto;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.logo-box {
    font-weight: 500;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-btn) 40%, var(--dark-green));
    background-clip: text;
    -webkit-background-clip: text;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 4rem;
    width: 4rem;
    fill: var(--color-dashboard);
}

.logo-text {
    font-size: 3rem;
    display: inline-block;
    letter-spacing: .2rem;
}


.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-link:link,
.nav-link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-txt-dark);
    padding: 1rem 2rem;
    width: 100%;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    
    transition: all .2s;
}

.nav-link:hover {
    color: var(--status-completion-bg);
    border-radius: .5rem;
    background-color: var(--color-dashboard);
}

.nav-link:hover .nav-icon {
    fill: var(--status-completion-bg);
}

.nav-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-txt-dark);
    border-radius: .5rem;
}

.nav-text {
    font-family: 'Luxora Grotesk Book';
    font-weight: normal;
}

.red {
    fill: var(--color-red);
    color: var(--color-red);
}

.red:hover {
    color: var(--status-completion-bg);
}

.copyright {
    align-self: center;
    color: var(--color-txt);
}

/* END */



/* STYLING THE SIDEBAR ON THE RIGHT SIDE */
/* START */

.sidebar-right {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    padding: 3rem 5rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}


/* THE STYLE FOR THE USER NAVIGATION ON THE RIGHT SIDEBAR */

.user-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;

}

.user-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-img {
    height: 5rem;
    width: 5rem;
    border: 3px solid var(--color-bg);
    border-radius: 50%;
}

.user {
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.user-name {
    color: var(--status-completion-bg);
}

.user-pos {
    color: var(--color-txt);
}

.user-notification-box {
    background-color: var(--color-bg);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;

    position: relative;
}

.user-notification {
    width: 2rem;
    height: 2rem;
    fill: var(--status-completion-bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* STYLE FOR THE ARTISTS SECTION */

.heading-3 {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}

.sidebar-artist {
    background-color: var(--color-bg-light);
    padding: 4rem 3rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artist-forum {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.artist-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-photo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.artist-img-box {
    height: 5rem;
    width: 5rem;
    border: 1rem solid var(--color-bg);
    border-radius: 50%;
    overflow: hidden;
}

.artist-img-box.square {
    border: .3rem solid var(--color-bg);
    border-radius: 1rem;
}

.artist-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.artist-img.circle {
    padding: 1rem;
    border-radius: 50%;
}

.artist-name {
    font-weight: 500;
    color: var(--status-completion-bg);
}

.artist-sale {
    color: var(--color-txt);
}

.artist-revenue {
    color: var(--color-txt-dark);
}

/* BUTTON PART OF THE ARTIST SECTION */

.btn-box {
    display: block;
    text-align: center;
}

.btn {
    appearance: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: inherit;
    width: max-content;
    border: none;
    color: var(--status-completion-bg);
    background-color: inherit;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all .2s;
}

.btn-color {
    background-color: var(--color-btn);
    border: 2px solid transparent;
}

.btn-color:hover {
    background-color: var(--color-bg-light);
    border: 2px solid var(--color-btn);
    color: var(--dark-green);
}

.btn-color:active {
    background-color: var(--color-btn);
}

/* SIDEBAR ARTIST AND BUTTON SECTION END, SIDEBAR DAY STARTS */

.sidebar-day {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar-time {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-time .empty {
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid var(--color-bg);
}

.bg-color-green {
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid var(--color-btn);
    background-color: var(--color-btn);
}

.sidebar-date {
    font-size: 2rem;
    font-weight: normal;
    color: var(--status-completion-bg);
}

/* SIDEBAR DAY END */
/* END */